---

---

<article class="flex items-center gap-[32px]">
    <img
        src="https://i.pinimg.com/564x/49/81/97/498197236e7025033def53c564575a4f.jpg"
        alt=""
        class="h-[350px] w-[100%] rounded-md object-cover"
      />  
    <section class="flex flex-col justify-center gap-[16px] w-[100%]">
      <h1 class="text-[64px] font-bold leading-none">
        Sobre nosotros
      </h1>
      <p class="text-[24px]  leading-tight">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt earum natus consectetur, atque, numquam culpa quidem, at repudiandae possimus quas hic eum quia impedit tenetur veniam rerum eaque magnam error.
      </p>
      <ul class="flex gap-[8px] items-center">
        <li>
          <a
            href="/sobre-nosotros"
            class="flex items-center justify-center bg-[#c7ddb5] text-black py-2 px-4 rounded-3xl"
            >Conoce mas
          </a>
        </li>
      </ul>
    </section>
  </article>
  